/*
Author: Fiona Yang 
1526-Form
Due on 2020-07-13
*/


* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

html {   
    line-height: 1.5;
    font-size: 1rem;   
    background-color: #336699;
}

body {
    margin: auto;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 400;  
    padding: 0 1rem;
}

header {
	width: 100%;
	padding: 2rem;
    font-family: 'Roboto Slab', Times, serif;
    color: #fff;
}

form, fieldset, input, textarea {
    border-radius:3px;
    outline:none;
    border: 1px solid #ddd;
}

form {
    background-color: #fff;
    max-width: 56rem;
    padding: 2rem 1.2rem 1rem; 
    margin: auto;
    font:100% 'Montserrat', Helvetica, Arial, sans-serif;
    position: relative;
}

legend {
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 2.3rem;
    background-color: #fff;
    border: 1px solid #ddd;
}

fieldset {
    background-color: #F5F5F5;
    padding: 4rem 1rem 0;
    display: flex;
    flex-direction: column;  
    margin-top: 2rem;
}

input, textarea {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
}

textarea {
   height: 100px;
}

input {
    padding: 1rem;
}

.box label {
    padding: 0.5rem 0;  
}

.button {
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    align-items: center;
    background-color: #6495ED;
    color: #fff;
    
}

.button:hover {
    background-color:#E5AA17 ;
}

/* This is for Responsive effect */
/*----------MEDIA QUERIES-----------*/
/*Mobile View */
@media only screen and (min-width: 25rem) {
    html {
        font-size: 1rem;   
    }
}
/*Tablet View  */
@media only screen and (min-width: 40rem) {

    form {
        padding: 4rem 3rem;
        max-width: 40rem;
    }
    
    fieldset {
        display: inline-block;
        width: 100%;
    }
    
    fieldset div:nth-child(1) {
        display: inline-block;
        width: 48.4%;
    }
    
    fieldset div:nth-child(2){
        display: inline-block;
        width: 48.4%;
        margin-left:2%;
    }
    
    legend {
        top: 3rem;
        left: 4.2rem;
    }
 
    .button {
        width: 150px;
    }
    
}

/*Desktop View  */
@media only screen and (min-width: 50rem) {
    form {
        max-width: 55rem;
    }
}
